 
 
 
 
 img {
            width: 25rem;
            
            object-fit: cover;
            border: solid rgba(34, 36, 180, 0.849);
            padding: 1rem;
            margin: 2rem;
            background-color: rgb(167, 92, 32);
        }
        
        body{
            font-family: system-ui, -apple-system, linkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                                    'Open Sans', 'Helvetica Neue', sans-serif;
       
        
        }

        div{
            width: 30rem;
            border-radius: 2rem;
            background-color: chartreuse;
            text-align: center;
        }